[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true
name = "pypitunatsinghuaedu"

[packages]
requests = "*"
pyyaml = "*"
pymysql = "*"
jsonpath = "*"
jira = "*"
openpyxl = "*"
pyinstall = {version = "*", index = "pypitunatsinghuaedu"}

[dev-packages]

[requires]
python_version = "3.9"
